<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Meu Website</title>
</head>

<body id="root">
    <header class="header">
        <a id="logo" href="/">Logo</a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false">Menu
                <span id="hamburguer"></span>
            </button>
            <ul class="menu" role="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <script>
        const btnMobile = document.getElementById("btn-mobile"); function
            togleMenu(event) {
            if (event.type === "touchstart")
                event.preventDefault(); const nav = document.getElementById("nav");
            nav.classList.toggle("active"); const active =
                nav.classList.contains("active");
            event.currentTarget.setAttribute("aria-expanded", active); if (active) {
                event.currentTarget.setAttribute("aria-label", "Fechar Menu");
            } else {
                event.currentTarget.setAttribute("aria-label", "Abrir Menu");
            }
        }
        btnMobile.addEventListener("click", togleMenu);
        btnMobile.addEventListener("touchstart", togleMenu);
    </script>
</body>

</html>