<head>
</head>
<form id="formulario" action="/add" method="POST">
    <fieldset>
        <legend>Cadastro</legend>
        <label for="email"></label>
        <input id="email" name="email" placeholder="insira seu email">
        <br />
        <label for="senha"></label>
        <input name="password" id="password" placeholder="Insira senha">
        <button id="butao" type="submit"> Adicionar</button>
    </fieldset>
</form>